/* Minimal Reset CSS */

html {
	box-sizing: border-box;
	font-size: 16px;
}

* {
	box-sizing: inherit;
	user-select: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.markdown-content {
	display: flex;
	gap: 3rem;
}

.markdown-content .markdown-editor-container textarea {
	resize: vertical;
}

.markdown-content .previewer-container {
	flex-grow: 1;
}

.previewer-container h1,
.markdown-editor-container h1 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
